
// Body
$body-bg: #f5f8fa;
// $cream: #f6f2eb;
$light-grey: #bbbbbb;
$main-grey: #6b6b6b;
$green: #16a085;
$purple: #8e44ad;
$red: #c0392b;
$orange: #f39c12;

// Typography
// $font-family-serif: "garvis-pro",serif;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-light: 300;
$font-regular: 400;
$font-semiBold: 600;
$font-bold: 700;
$font-black: 900;

