// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import "variables";

// Buttons
@import "buttons";



// HELPERS
html, body {
  color: $main-grey;
  background-color: #F6F8FA;
  font-family: $font-family-sans-serif;
  font-weight: 100;
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

.f-xxs {font-size: .7rem}
.f-xs {font-size: .9rem}
.f-reg {font-size: 1.1rem}
.f-md {font-size: 1.25rem}
.f-lg {font-size: 1.5rem}
.f-xl {font-size: 2rem}
.f-xxl {font-size: 2.5rem}
.f-xxxl {font-size: 4rem}

.light {font-weight: $font-light;}
.regular {font-weight: $font-regular;}
.semiBold {font-weight: $font-semiBold;}
.bold {font-weight: $font-bold;}
.black {font-weight: $font-black;}

.purple {color: $purple}
.green {color: $green}
.main-grey {color: $main-grey}
.red {color: $red}
.orange {color: $orange}

.bg-purple {background-color: $purple; color: white}
.bg-green {background-color: $green; color: white}
.bg-main-grey {background-color: $main-grey; color: white}
.bg-red {background-color: $red; color: white}
.bg-orange {background-color: $orange; color: white}

.level { display: flex; align-items: center; }
.flex { flex: 1 }
.full-height {height: 100vh;}
.full-width {width: 100vh;}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hidden {display: none !important;}
.block {display: block !important;}
.inline-block {display: inline-block  !important;}

.shadow-top {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
}

.shadow-bottom {
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,.3);
-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,.3);
box-shadow: 0px -3px 5px 0px rgba(0,0,0,.3);
}

a:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.margin-nav {
  margin-top: 70px;
}

.back {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 2;
}


